{% extends "base/login_base.html" %}

{% block title %}Admin Login - Sky{% endblock %}
{% block header %}Admin Login{% endblock %}

{% block form %}
  <form method="post" action="{% url 'admin_login' %}">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Admin Username" required>
    </div>
    <div class="form-group password-container">
      <svg class="password-icon" ...>...</svg>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button href="{% url 'admin_dashboard' %}" type="submit" class="sign-in-button">Sign In</button>
  </form>
  
  <div class="sign-up-container">
    <p>Don't have an account? <a href="{% url 'admin_signup' %}" class="sign-up-link">Sign Up</a></p>
  </div>
{% endblock %}
